.highlight {
    font-family: "UI Sans Mono", monospace;
    font-size: 14px;
}

.katex {
    font-size: 1em;
}

#dream-single-post-main {
    max-width: 90ch;
}

.wl-power {
    display: none;
}

a.wl-login-nick img {
    margin: 0px;
}


.wl-login-info {
    width: 105%;
}

.wl-panel {
    width: 95%;
}